# Compiled source #
###################
*.pyc
__pycache__/
*.so
*.o

# Build / packaging artifacts #
###############################
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation build #
##############################
doc/build/
